*~
*out
*.in
*.m4
*.files
*.la
*.lo
*.bmp
*.jpg
*.png
config.h
config.log
config.status
config.guess
config.sub
libtool
ltmain.sh
.libs/
.deps/
*.o
src/video_detect
src/img_test
src/img_tool
stamp-h1
Makefile
autom4te.cache
configure
depcomp
install-sh
missing
tags
